.placeholdertext
{
    color:white;
}
.filterinput
{
    width: 100%;
}
.fabaddnewuser
{
    bottom: 0;
    right: 0;
    margin: 20px;
    position: absolute;
}
.coacktail-card {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
  }